@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}
  

.column1 {
    background-color:#1b252f;
    width: 40%;
    height: auto;
    padding-top: 18%;
   
}

.column2 {
    background-color: #36414c;
    width: 60%;
    height: auto;
    padding-top: 103px;
    border-left: #66737f solid 2px;
    
}
.row {
    display: flex;
    height: 100vh;
}


.logo{
    width: 300px;

}
.login{
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: #fff;
}

.login,.logo,.tip{
    margin-left: 40px;
}

/* Full-width input fields */
input[type=email] {
    display: block;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 14px;
    outline: 0;
  }

.forgotten{
  padding: 42px;
}

  .forgot{
    text-decoration: none;
    color: #eef2f6;
  }

.signin {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    width: 45%;
    display: block;
    margin-top: 30px;
    padding: 11px 80px 11px 80px;
    border-radius: 50px;
    color: #eef2f6;
    border: #1b252f solid 1px;
    background-color: #1b252f;
    cursor: pointer;
}


.signup{
    margin-top: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

.tip{
font-size: 16px;
color: #d5dde5;
line-height: 1.6;
}
