@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}
  

.login_main_wrap .column1 {
    background-color:#1b252f;
    width: 40%;
    height: auto;
    padding-top: 0px;
   
}

.login_main_wrap .column2 {
    background-color: #36414c;
    width: 60%;
    height: auto;
    padding-top: 0px;
  
    
}

.login_main_wrap .login_right_col_wrapper {
    position: absolute;
    top:  31%;
    padding-left:  5%;
}

.login_main_wrap .login_left_col_wrapper {
    position: absolute;
    top:  32%;
    left:  10%;
}

.login_main_wrap {
    display: flex;
    height: 100vh;
}


.login_main_wrap .login_main_wrap .logo{
    width: 300px;
}

.login_main_wrap .login, .login_main_wrap .welcome{
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: #fff;
}

.login_main_wrap .login,.logo, .login_main_wrap .welcome{
    margin-left: 40px;
    width: 300px;
}

/* Full-width input fields */
.login_main_wrap input[type=text], .login_main_wrap input[type=password],
.login_main_wrap input[type=email] {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 14px;
    outline: 0;
  }

.login_main_wrap .input-box {
  width: 100%;
  display: flex;
  align-items: center;
}

.login_main_wrap .input-box input[type=password]{
  width: 100%;
  border: 0;
}

.login_main_wrap .input-box .close-eye{
  width: 25px;
  cursor: pointer;
  margin-left: -40px;
    margin-top: 10px;
}

 .login_main_wrap input[type=checkbox],.psw{
    margin-top: 14px;
  }

  .login_main_wrap .psw{
    margin-left: 14px;
  }

  .login_main_wrap .textboxitem{
    display: inline-grid;
    margin-right: 41px;
    width: 44%;
  }

 .login_main_wrap .forgot{
    text-decoration: none;
    color: #eef2f6;
  }

.login_main_wrap .signin {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    display: block;
    margin-top: 30px;
    padding: 11px 80px 11px 80px;
    border-radius: 50px;
    color: #eef2f6;
    border: #1b252f solid 1px;
    background-color: #1b252f;
    cursor: pointer;
}

/*button hover effects*/
.signin:hover{
  background: #1b252f;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
/*End*/

.login_main_wrap .noaccount{
    font-weight: 100;
}

.login_main_wrap .signup{
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

.row {
    display: flex;
    height: 100vh;
}

.forgotpsw_main_wrap .column1 {
    background-color:#1b252f;
    width: 40%;
    height: auto;  
}

.forgotpsw_main_wrap .column2 {
    background-color: #36414c;
    width: 60%;
    height: auto;
    
}

.forgot_left_wrap {
    position: absolute;
    top:  35%;
    left:  10%;
}

.forgot_right_wrap {
    position: absolute;
    top:  20%;
    padding-left:  5%;
}

.forgotpsw_main_wrap input[type=email] {
    display: block;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 14px;
    outline: 0;
  }

  .forgotpsw_main_wrap .forgotten{
    padding: 42px;
  }

  .forgotpsw_main_wrap .signin {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    width: 100%;
    display: block;
    margin-top: 30px;
    padding: 11px 80px 11px 80px;
    border-radius: 50px;
    color: #eef2f6;
    border: #1b252f solid 1px;
    background-color: #1b252f;
    cursor: pointer;
}

.forgotpsw_main_wrap .signup{
    margin-top: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

.forgotpsw_main_wrap .tip{
font-size: 16px;
color: #d5dde5;
line-height: 1.6;
}

.signup_main_wrap .column1 {
    background-color:#1b252f;
    width: 40%;
    height: auto;
}

.signup_main_wrap .column2 {
    background-color: #36414c;
    width: 60%;
    height: auto;
        
}
.signup_main_wrap {
    display: flex;
    height: 100vh;
}

.signup_main_wrap .signup_left_wrap {
    position: absolute;
    top:  40%;
    left:  10%;
}

.signup_main_wrap .signup_right_wrap {
    position: absolute;
    top:  20%;
    padding-left:  3%;
}

.signup_main_wrap .logo{
    width: 300px;

}
.signup_main_wrap .login, .signup_main_wrap .welcome{
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 32px;
    color: #fff;
}

.signup_main_wrap .login, .signup_main_wrap .capt, .signup_main_wrap .welcome{
    margin-left: 40px;
}

/* Full-width input fields */
.signup_main_wrap input[type=text], .signup_main_wrap input[type=password],
.signup_main_wrap input[type=email] {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 14px;
    outline: 0;
  }


  .signup_main_wrap input[type=checkbox],.psw{
    margin-top: 14px;
  }

.signup_main_wrap .psw{
    margin-left: 14px;
  }

  .signup_main_wrap .textboxitem{
    display: inline-grid;
    margin-right: 41px;
    width: 44%;
    padding-bottom: 16px;
  }

  .signup_main_wrap .forgot{
    text-decoration: none;
    color: #eef2f6;
  }

.signup_main_wrap .btn {
    margin-left: 37px;

  }

.signup_main_wrap .signin {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    padding: 11px 56px 11px 56px;
    border-radius: 50px;
    color: #eef2f6;
    border: #1b252f solid 1px;
    background-color: #1b252f;
    cursor: pointer;
}
.signup_main_wrap .cancel{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: #eef2f6;
    background-color: transparent;
    outline: 0;
    border: none;
    cursor: pointer;
    margin-right: 47px;
  }

.signup_main_wrap .noaccount, .signup_main_wrap .capt{
    font-weight: 100;
}

@media screen and (max-width: 1399px) and (min-width: 1300px) {
    .login_main_wrap .textboxitem {
      width: 43%;
  }
  .signup_main_wrap .signup_right_wrap {
    top:  3%;
}
  }
