.col-sm-12 ul{
    margin-top: 22px;
    padding:0;
  }
  .col-sm-12 a {
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color: #fff;
  }

  .col-sm-12 li{
    list-style: none;
    padding: 10px 10px;
  }
  .col-sm-12 ul li:hover{
    background-color: #2c3640;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }

  /*dropdown*/
  .dropdown {
    position:absolute;
    bottom: 71px;
  }
  ul.dropdown-menu.text-small.shadow.show{
    background: transparent !important;

  }

  .dropdown-item:hover{
    background-color: transparent !important;
    color: #fff;
  }

    .dropdown-toggle { outline: 0; }

    .btn-toggle {
      padding: .25rem .5rem;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.65);
      background-color: transparent;
    }
    .btn-toggle:hover,
    .btn-toggle:focus {
      color: rgba(251, 251, 251, 0.85);
      background-color: transparent;
    }

    .btn-toggle::before {
      width: 1.25em;
      line-height: 0;
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
      transition: transform .35s ease;
      transform-origin: .5em 50%;
    }

    .btn-toggle[aria-expanded="true"] {
      color: #fff;
    }
    .btn-toggle[aria-expanded="true"]::before {
      transform: rotate(90deg);
    }

    .btn-toggle-nav a {
      padding: .1875rem .5rem;
      margin-top: .125rem;
      margin-left: 1.25rem;
    }
    .btn-toggle-nav a:hover,
    .btn-toggle-nav a:focus {
      background-color: #2c3640;
    }

    .scrollarea {
      overflow-y: auto;
    }

    .rounded-circle{
      border-radius: unset !important;
    }
    .link-dark{
      color: #fff!important;
    }
    .link-dark:focus, .link-dark:hover {
    color: #fff!important;
}

.dropdown p{
  font-family: 'Outfit', sans-serif;
  color: #fff;
  padding-left: 37px;
}

.logout_btn{
  position: absolute;
    bottom: 12px;

}
  /*End*/

  #mmenu_screen > div > div.col-sm-2.h-100 > div > div > div > div.row > div:nth-child(4) > div > button{
    background-color: #2c3640 !important;
    padding: 10px 53px 10px 53px;
    outline: none;
  }


  /*Dashboard body */
  #mmenu_screen > div > div.col-sm-10.h-100 > div{
    background-color: #EEF2F6;
  }
  /*End*/


  /*Manage Users*/
  .container-fluid .navbar-brand{
  color: #2c3640 !important;
 }

 #mmenu_screen > div > div.col-sm-10.h-100 > div > div > div > div > nav > div > form > button{
  margin-right: 5px;
 }

 #mmenu_screen > div > div.col-sm-10.h-100 > div > div > div > div > nav > div > form > button:hover{
  background-color: unset !important;
  border-color: unset;
  color: #2c3640;
}

#mmenu_screen > div > div.col-sm-10.h-100 > div > div:nth-child(2) > div{
  display: inline-flex;
  column-gap: 12px;
}

.btn_container{
  text-align: right;
    margin-left: 342px;
} 
/*End*/