/*Overall Font-style*/
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
body{
  font-family: 'Outfit', sans-serif;
}

label, p, a, button {
  font-family: 'Outfit', sans-serif;
}
/*Left global side bar*/
    .leftNavigationWrap .bi-person::before {
      font-size: 18px;
    }

    .leftSideBar .leftNavigationWrap {
      margin:  0px !important;
      padding:  0px !important;
    }
    .leftSideBar .leftNavigation {
      padding:  0px;
    }
    .leftSideBar .leftNavigation li a{
      color:  #8F9CA9;
      width: 90%;
      display:  block;
      /* padding:  5px 0px 5px 15%; */
      padding: 11px 0px 11px 15%;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    .leftSideBar .leftNavigation li a:hover {
      background-color: #36414C;
      width: 90%;
      color:  #ffffff;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .leftSideBar .leftNavigation .active a {
      background-color: #36414C;
      color:  #ffffff;
    }
/*END left global side bar*/

/*Right Top Header*/
    .rightTopHeader {
      background: #ffffff;
    }
    .rightTopHeader h4 {
      font-weight: bold;
        color: #1B252F;
        font-size:  20px;
    }
    .rightTopHeader input[type="text"],
    .rightTopSearch{
      background:  url(https://storage.googleapis.com/msgsndr/Xped5c2jrqgZhhg67y1J/media/63a52166ad0ddc7478ea0c23.png);
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 10px 50%;
      padding-left: 45px;
      color: #b6c1cd;
      border-radius: 15px !important;
      font-size: 14px;
    }
    .rightTopDate {
      color: #8F9CA9;
      padding-top:  6px;
    }
    .rightTopDate span {
      padding-right:  15px;
    }
    #todayis {
      font-weight: normal;
    }
/*end Right Top Header*/

/*paginations client page*/
    #pagination-container-clients ul { list-style-type: none; padding-left: 0em; float: right; }
    #pagination-container-clients ul li { float: left; padding: 3px 10px; color:  #afafa5;}
    #pagination-container-clients ul .active { background:  unset; color:  #000000;}
    #pagination-container-clients ul .active:first-child { background: unset; color: #d9cdcd; }
    #pagination-container-clients ul li:last-child { background:  unset;  color: #d9cdcd; }
    #pagination-container-clients {  padding-bottom: 0px; }
    #pagination-container-clients ul li:hover { opacity: .8; }
/*END paginations client page*/

/*Login page*/
.bi .bi-eye-slash-fill{
  color: #B8C1CC;
}
/*End of Login page*/

/*Dashboard Page*/
.dashleads {
  color: #B8C1CC; 
  font-size: 15px;
}
  .percenttext {
    font-size: 13px;
    color: #84D5A7;
    padding-right: 10px;
    padding-top: 32px;
  }
  .percenttext_red{
    font-size: 13px;
    color: #D26A6A;
    padding-right: 10px;
    padding-top: 32px;
  }

  .dashsubtitle{
    font-size: 26px; 
    color: #36414C;
    font-weight: 500 !important;
    padding-bottom: 20px;
  }

.dashsubtitle2{
    font-size: 20px; 
    color: #36414C;
    font-weight: 500 !important;
  }


  .dashsubtitleBottom{
    font-size: 20px; 
    color: #36414C;
    font-weight: 500 !important;
    padding-bottom: 20px;
  }

  #myChartBar{
    width:100%;
    height: auto;
  }

/*End of Dashboard Page*/

/*clients page*/
.newclient{
  background-color: #36414c;
  border-radius: 10px;
}

.clientsTable tr {
  background:  #ffffff;
}

.clientsTable tr {
    background: url(https://storage.googleapis.com/msgsndr/Xped5c2jrqgZhhg67y1J/media/63a5384f5aac1d0128905203.png);
    background-size: 100% 100%;
    margin-bottom: 20px;
    display: block;
    padding: 10px 10px 10px 10px;
}
.clientsPageBg {
  background: #eef2f6;
}
.clientsPageBg button{
  background: #36414c !important;
  margin-top: -15px;
  float: right;
  margin-right: 10px;
}
button.btn.btn-dark.px-4{
  border-radius: 15px;
  background-color: #36414C;
  padding: 12px 12px;
}
#mmenu_screen > div > div.col-sm-2.h-100.leftSideBar > div > div > div > div > div:nth-child(3) > div > div > a > img{
  border-radius: 7%!important;
}
.clients_ctacancel,
.clients_ctasave{
  font-size: 16px;
  padding: 8px 40px 8px 40px;
  border-radius: 15px;
}
.clients_ctacancel{
  background-color: #FFFFFF;
  border: #ADB9C7 solid 1px;
  color: #ADB9C7;
}
.clients_ctasave{
  background-color: #36414C !important;
}
.clientsPageSelect {
    background: #ffffff;
    border-radius: 10px;
    border: solid 0px #e7dddd;
    margin-left: -10px;
    margin-right: 10px;
    color: #66737F;
    padding-bottom: 15px;
    padding-left: 10px;
}
.clientsPageSelect .selectAll {
  float:  right;
  padding-right:  30%;
}
.clientsPageSelect input {
  margin-left:  5px !important;
  float: right;
}
.clientsPageSelectCname {
  padding-left: 20px;
}
.clientsPageSelectAction {
  text-align: right;
  padding-right: 15px;
}
.clientsPageBg .buttn {
  text-align:  right;
}
.clientsPageBg .cAname  {
    background: rgb(54 65 76);
    color: #B8C1CC;
    font-size: 20px;
    border-radius: 50px;
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin-right: 20px;
}
.clientsPageBg .clientLeadsRsult {
    color: #36414C;
    font-size: 18px;
}
.clientsPageBg .clientName {
  padding-left:  10px;
}
.clientsPageBg .clientLeads {
  color: #66737F;
}
.clientsPageBg .form-check .dropdown {
  display: none;
  float:  right;
  margin-right:  20px;
}
.clientsPageBg .form-check:hover .dropdown {
  display:  block;
}
.clientsPageBg .form-check .dropdown .editIcon,
.clientsPageBg .form-check .dropdown .deleteIcon {
  width:  50px;
  float:  left;
  margin-top: -5px;
}
.clientsPageBg .plusNewClient {
    font-size: 20px;
    margin-right: 10px;
    font-family:  auto !important;
}
.clientsPageBg .newcClient {
  float:  right;
}

.clientsPageBtnCancel button{
  background: red !important;
}
/*end of clients page*/



/*Account Settings Page*/

/*Left Global Sidenav*/
.leftSideBar .leftNavigationWrap {
  margin:  0px !important;
  padding:  0px !important;
}
.leftSideBar .leftNavigation {
  padding:  0px;
}

.clientsPageBg #clientsModal .btn-close {
  background: none !important;
}

.clientsPageBg .modal-footer, .clientsPageBg .modal-header {
  border:  0px !important;
}

.clientsPageBg .modal-header .modal-title {
    color: #36414c;
    font-weight: bold;
    font-size: 18px;
}

.clientsPageBg .modal-body label {
    color: #36414c;
    font-size: 16px;
}

.clientsPageBg .clients_ctacancel {
    background: unset !important;
    border: solid 1px #f1e8e8;
    color: #ddc4c4;
}

.clientsPageBg .clients_ctasave {
  font-weight:  normal !important;
}

.clientsPageBg ::placeholder, .clientsPageBg .modal-body select { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c7baba;
}

.outlogin {
    background-color: #2b3540;
    color: #e7e6e6;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    outline: none;
    justify-content: space-between;
    width: 80%;
}

.outlogin:hover {
  opacity: .8;
}

.outlogin span {
  float: left;
  color: #E7ECF2 !important;
  font-weight: normal;
}

.outlogin img {
    float: right;
    padding-top: 6px;
}

.leftSideBar .ccposition {
    color: #89929d;
    font-size: 14px;
}

.leftSideBar .cname {
    color: #ffffff;
    display: block;
    line-height: 1em;
}

.leftSideBar .dropdown-toggle::after {
    display: block;
    color: #89929d !important;
    float: right;
    margin-left: 45px;
    margin-top: -10px;
}

.leftSideBar .me-2 {
    margin-top: -25px;
}
 

#menu_screen > div > div.col-sm-2.h-100 > div > div > div > div > div:nth-child(3) > div > div > a > img{
  border-radius: 7%!important;
}
/*End*/
#v-pills-home-tab,
#v-pills-profile-tab,
#v-pills-disabled-tab {
  margin-bottom: 12px;
}

#v-pills-home-tab.active,
#v-pills-profile-tab.active,
#v-pills-disabled-tab.active {
  color: #1B252F !important;
  text-align: left !important; 
  padding-left: 20px; 
  padding-right: 40px;
  background: #FAFCFD 0% 0% no-repeat padding-box !important;
  border-radius: 15px !important;
  opacity: 1;
}

/* #menu_screen > div > div.col-sm-10.h-100 > div > div > div > div > div > div.col-md-4 > button {
  margin-top: 20px;
  font-weight: 100 !important;
} */

.accntbtnsetting{
  background-color: #36414c !important;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  
}
.accntsettingbtn {
  width: 110px;
  height: 40px;
  border-radius: 10px;
}

.account_settings{
  text-align: left;
  padding-left: 20px;
  padding-right: 40px; 
  color: #1B252F;
}


#v-pills-disabled > div > div > div > div > div > button.btn.btn-outline-secondary.me-md-2:hover span{
  display: none !important;
}

#v-pills-disabled > div > div > div > div > div > button.btn.btn-outline-secondary.me-md-2:hover::before{
  border-radius: 15px;
  content: 'Cancel' !important;
}

#v-pills-disabled > div > div > div > div > div > button.btn.btn-outline-secondary.me-md-2:hover{
 background-color: #EEF2F6 !important;
 color: #1B252F !important;
}

.input-one{
  width: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.input-two{
  width: 30%;
}

.input-three{
    width: 30%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 45px;
}

.saveaccount {
  background-color: #36414C; 
  padding-left: 60px; 
  padding-right: 60px;
  position: absolute;
  top: 270px;
  margin-top: 47px;
  font-weight: 100 !important;
}

/*End of Account Settings Page*/

/*Manage Users*/
.btninviteuser{
 background-color: #36414c;
 width: 126px;
 height: 44px;
 border-radius: 10px;
}

.MU_leftnav a{
  color:  #8F9CA9;
  width: 100%;
  display:  block;
  padding:  5px 0px 5px 15%;
}

.MU_leftnav a:hover{
  background-color: #36414C;
  color:  #ffffff;
}

.uploadcsv{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  outline-style: dashed !important;
  padding: 40px 100px 40px 100px;
}

.uploadcsv::after{
  content: url('https://storage.googleapis.com/msgsndr/Xped5c2jrqgZhhg67y1J/media/63a5c797408c0b4a4bfd6ee4.svg+xml') !important;
}

.MU_PageBg .cAname  {
  background: rgb(54 65 76);
  color: #B8C1CC;
  font-size: 20px;
  border-radius: 50px;
  float: right;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 0px;
  margin-right: 20px;
}

.MU_PageBg .mUsersEdit span{
  padding-right: 10px;
}

.MU_PageBg .mUsersEdit a {
  text-decoration: none;
  color: #666262;
 

}

.MU_PageBg .mUsersEdit a:hover {
  text-decoration: underline;
}



.importuser{
  border-radius: 15px !important;
  background-color: #36414C !important;
  padding: 8px 40px 8px 40px;
}

.cancelimport{
  border-radius: 15px !important;
  padding: 8px 40px 8px 40px;
}

.accountprofile{
  border-radius: 7%!important;
}
.inviteuser{
  width: 650px;
}
.mu_cancel,
.mu_save{
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
}

.mu_save{
  background-color: #1B252F;
}

.importmodal{
  width: 600px;
}

/* End of Manage Users*/

/*Create Floater*/
.cf_select {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    opacity: 0;
}

.cf_select:hover{
  opacity: 1;
}

.nav-pills .nav-link.active{
  background-color: #FFFFFF !important;
}
.cf_btn{
  width: 176px; height: 48px;
  font-weight: 100;  font-size: 16px;
}
.cf_browse{
  padding: 7px 35px 7px 35px;
}

.popup_integrate_cancel{
  border-radius: 10px;
  width: 110px;
  height: 40px;
  border: 1px;
}

.popup_integrate_save{
  background-color: #36414c;
  border-radius: 10px;
  width: 110px;
  height: 40px;
}

.cf_add{
  width: 80px;
  height: 40px;
  border: 1px solid #B8C1CC;
  border-radius: 10px;
}
/*End of Create Floater*/

/*Create Whisp Wheel*/
.cw_btn{
  width: 176px; height: 48px;
  font-weight: 100;  font-size: 16px;
}
.cw_browse{
  padding: 7px 35px 7px 35px;
}
.form-control-color {
  border: none !important;
  width: 2.1em;
  height: calc(1.1em + 1.1rem + -7px);
  padding: 0.375rem;
}

.colorselector{
  display: flex;
}
.colorselector li{
  list-style: none;
}
.addtrack {
border-radius: 15px;
border: #B8C1CC solid 2px;
padding: 10px 40px 10px 40px;
}

.confgbtn, .confgbtn1 {
border-radius: 15px;
padding: 10px 40px 10px 40px;
}

.confgbtn1{
  background-color: #36414c;
}

.plusbtn{
  position:fixed;
  bottom: 0;
  right: 0;
}

.cww_select{
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  border-radius: 14px;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
}

.cww_select:hover{
 opacity: 1;
}

/*End of Create Whisp Wheel*/


/*Client Page Edit*/
.clientsPageBtnCancel {
  background: #ede6e6 !important;
  color: #b4bfcc;
  border: 0px;
  width: 110px;
  height: 40px;
  border-radius: 10px;
} 

.clientsPageBtnSave {
  background: #36414c !important;
  border: 0px;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
}

/*Campaign Page*/
.newcampaign{
  border-radius: 15px;
  padding: 10px 40px 10px 40px;
  background-color: #36414c;
}
/*End of Campaign Page*/

/*New Campaign & Edit Campaign*/
.NC_cta_Cancel,
.EC_cta_Cancel{
  border-radius: 10px;
  width: 110px;
height: 40px;
}

.NC_cta_Save,
.EC_cta_Save{
border-radius: 10px;
width: 110px;
height: 40px;
}

#inputState span.select2.select2-container.select2-container--default.select2-container--focus{
  width: 491.078px !important;
}
/*End of New Campaign & Edit Campaign*/

/*Start Client profile*/

.cardstack{
  margin-right: 17px;
}

.stack-title{
  background: #FFFFFF !important;
  border-radius: 15px;
  padding: 12px 30px 12px 30px;
  border: none !important;
}

.bg-body-tertiary{
  background: transparent !important;
  border: none !important;
}

.campaign_mngbtn{
  align-items: center;
  font-weight: 100;
  color: #FFFFFF;
  border-radius: 13px;
  padding: 10px 35px 10px 35px;
  background-color: #36414c;
}
.selectcamp{
  width: 272px;
}



/*circular progress*/
.progress {
  width: 69px;
  height: 69px;
  font-size: 15px;
  color: rgb(4, 4, 4);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  text-align: center;
  line-height: 71px;
  
}

.progress::after {content: "%";}

.progress .title {position: relative;z-index: 100; margin-left: 19px;}

.progress .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #FFFFFF
}

.progress .left, .progress .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #222235;
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
}

.progress .left {animation: load1 1s linear forwards;}

.progress:nth-of-type(2) .right, .progress:nth-of-type(3) .right {animation: load2 .5s linear forwards 1s;}

.progress:last-of-type .right, .progress:first-of-type .right {animation: load3 .8s linear forwards 1s;}

@keyframes load1 {
    0% {transform: rotate(0deg);}

    100% {transform: rotate(180deg);}
}

@keyframes load2 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {z-index: 100;transform: rotate(270deg);}
}

@keyframes load3 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {
        z-index: 100;transform: rotate(315deg);}
}
/*End of circular progress*/


/*End of Client profile page*/

/*Global tab function adjustment*/
.nav-pills .nav-link{
  color: #36414C !important;
}
/*End of tab Function Adjustment*/

/*Global Switch Element Height Adjustment*/
.form-switch .form-check-input{
  width: 36px !important;
  height: 20px;
}
/*End of Globel Swtich Element Adjustment*/ 

/*Global Modal Edge border radius*/
.modal-content{
  border-radius: 20px;
}
/*Global Modal Edge border radius*/

/*Global Card Container Adjustment*/
.card{
  border-radius: 15px;
}
/*End of Global Card adjustment*/

/*Global Radio button Mark color*/
.form-check-input:checked{
  background-color: #66737F !important;
  border-color: #66737F !important;
}
/*End of Global Radio button Mark color*/

/*Global Signout Sidebar button*/
ul.dropdown-menu.text-small.shadow.show{
  margin-bottom: 19px;
  background-color: #2b3540;
  color: #000000;
}

/*Global textbox radius*/
.form-control{
  border-radius: 10px;
  font-size: 14px;
  height: 45px;
}
.form-check-label{
  font-size: 14px;
}
.form-check-input{
  border-radius: 10px;
}
.input-group-text{
  background-color: transparent !important;
}
/*End of Global textbox radius*/

/*Global Select Element */
.form-select {
  font-size: 14px;
  border-radius: 10px;
  height: 45px;
}
/*end of Global Select Element */

.dropdown-item{
  color: #36414c;
}

.userdrpinfo{
  color: #FFFFFF;
}
/* End of Global Signout Sidebar button*/

/*Global Select Element style*/
#clients, #select2-clients-container,
.select2-container--default .select2-selection--single {
  border-radius: 8px !important;
}
span#select2-clients-container{
  margin-top: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 6px !important;
}
.select2-container .select2-selection--single{
  height: 38px !important;
}
/*End of Globel Select Element style*/

/*Global Text area element Color Scheme*/
.msgtext,.msgreply, .msg2ndreply{ border: none; height: 100px;}
.msgtext{
  
  background: #EEF2F6;
}

.msgreply{
  
background: #D5DDE5;
}

.msg2ndreply{
  
  background: #D5DDE5;
}
/*End of Global Text area element Color Scheme*/

/*Global icon align center if it's collapse*/
.icon_item{
  padding-left: 20px;
}
/*End Global icon align center if it's collapse*/

/*Create QR page*/
.createqrpage .nav-pills .nav-link {
  font-size: 16px !important;
  border-radius: 13px;
}

.createqrpage .nav-pills .nav-link {
  color: gray !important;
}

.createqrpage .nav-pills .active {
  /* color: #FFFFFF !important; */
  color: #36414C !important;
}

.createqrselectqr  {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    opacity: 0;
}

.createqrselectqr:hover {
    opacity: 1;
}

/* Custom Dropdown list */ 

.selectMultiple {
  width: 100%;
  position: relative;
}
.selectMultiple select {
  display: none;
}
.selectMultiple > div {
  position: relative;
  z-index: 2;
  padding: 8px 12px 2px 12px;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  min-height: 44px;
  box-shadow: 0 4px 16px 0 rgba(22, 42, 90, 0.12);
  transition: box-shadow 0.3s ease;
}
.selectMultiple > div:hover {
  box-shadow: 0 4px 24px -1px rgba(22, 42, 90, 0.16);
}
.selectMultiple > div .arrow {
  right: 1px;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 28px;
  position: absolute;
}
.selectMultiple > div .arrow:before, .selectMultiple > div .arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 8px;
  border-bottom: 8px solid #99A3BA;
  top: 43%;
  transition: all 0.3s ease;
}
.selectMultiple > div .arrow:before {
  right: 12px;
  transform: rotate(-130deg);
}
.selectMultiple > div .arrow:after {
  left: 9px;
  transform: rotate(130deg);
}
.selectMultiple > div span {
  color: #99A3BA;
  display: block;
  position: absolute;
  left: 12px;
  cursor: pointer;
  top: 8px;
  line-height: 28px;
  transition: all 0.3s ease;
}
.selectMultiple > div span.hide {
  opacity: 0;
  visibility: hidden;
  transform: translate(-4px, 0);
}
.selectMultiple > div a {
  position: relative;
  padding: 0 24px 6px 8px;
  line-height: 28px;
  color: #FFFFFF;
  display: inline-block;
  vertical-align: top;
  margin: 0 6px 0 0;
}
.selectMultiple > div a em {
  font-style: normal;
  display: block;
  white-space: nowrap;
}
.selectMultiple > div a:before {
  content: "";
  left: 0;
  top: 0;
  bottom: 6px;
  width: 100%;
  position: absolute;
  display: block;
  background:#66737f;
  z-index: -1;
  border-radius: 4px;
}
.selectMultiple > div a i {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 28px;
  display: block;
}
.selectMultiple > div a i:before, .selectMultiple > div a i:after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #1B252F;
  border-radius: 1px;
}
.selectMultiple > div a i:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.selectMultiple > div a i:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.selectMultiple > div a.notShown {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.selectMultiple > div a.notShown:before {
  width: 28px;
  transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
}
.selectMultiple > div a.notShown i {
  opacity: 0;
  transition: all 0.3s ease 0.3s;
}
.selectMultiple > div a.notShown em {
  opacity: 0;
  transform: translate(-6px, 0);
  transition: all 0.4s ease 0.3s;
}
.selectMultiple > div a.notShown.shown {
  opacity: 1;
}
.selectMultiple > div a.notShown.shown:before {
  width: 100%;
}
.selectMultiple > div a.notShown.shown i {
  opacity: 1;
}
.selectMultiple > div a.notShown.shown em {
  opacity: 1;
  transform: translate(0, 0);
}
.selectMultiple > div a.remove:before {
  width: 28px;
  transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
}
.selectMultiple > div a.remove i {
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.selectMultiple > div a.remove em {
  opacity: 0;
  transform: translate(-12px, 0);
  transition: all 0.4s ease 0s;
}
.selectMultiple > div a.remove.disappear {
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.selectMultiple > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  transform: translate(0, 20px) scale(0.8);
  transform-origin: 0 0;
  filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
  transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
}
.selectMultiple > ul li {
  color: #1E2330;
  background: #fff;
  padding: 12px 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease 0.3s, opacity 0.5s ease 0.3s, border-radius 0.3s ease 0.3s;
}
.selectMultiple > ul li:first-child {
  border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li:first-child:last-child {
  border-radius: 8px;
}
.selectMultiple > ul li:last-child {
  border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li:last-child:first-child {
  border-radius: 8px;
}
.selectMultiple > ul li:hover {
  background: #1B252F;
  color: #fff;
}
.selectMultiple > ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%, -50%);
  transform-origin: 50% 50%;
}
.selectMultiple > ul li.beforeRemove {
  border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li.beforeRemove:first-child {
  border-radius: 8px;
}
.selectMultiple > ul li.afterRemove {
  border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li.afterRemove:last-child {
  border-radius: 8px;
}
.selectMultiple > ul li.remove {
  transform: scale(0);
  opacity: 0;
}
.selectMultiple > ul li.remove:after {
  -webkit-animation: ripple 0.4s ease-out;
          animation: ripple 0.4s ease-out;
}
.selectMultiple > ul li.notShown {
  display: none;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.4s ease;
}
.selectMultiple > ul li.notShown.show {
  transform: scale(1);
  opacity: 1;
}
.selectMultiple.open > div {
  box-shadow: 0 4px 20px -1px rgba(22, 42, 90, 0.12);
}
.selectMultiple.open > div .arrow:before {
  transform: rotate(-50deg);
}
.selectMultiple.open > div .arrow:after {
  transform: rotate(50deg);
}
.selectMultiple.open > ul {
  transform: translate(0, 12px) scale(1);
  opacity: 1;
  visibility: visible;
  filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  25% {
    transform: scale(30, 30);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  25% {
    transform: scale(30, 30);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}


.selectMultiple {
  margin-top: 5px;
  margin-bottom: 27px;
}
 .dribbble {
  position: fixed;
  display: block;

  opacity: 0.5;
  transition: all 0.4s ease;
}
 .dribbble:hover {
  opacity: 1;
}
.dribbble img {
  display: block;
  height: 36px;
}

/*End of Custom Dropdown*/

/*login lef*/
.loginLeft h5, .loginRight h5 {
  font-size: 30px;
}

.loginRight .email input, .loginRight .password input{
  width: 299px !important;
  height: 44px;
  font-size: 16px;
  color: gray;
}

.loginRight label {
  font-size: 15px;
  font-weight: 300;
  color: #FAFCFD;
}

.loginLeft .logo {
  width: 336px;
  height: 117px;
}

.bi-eye-slash-fill::before {
  color: #B8C1CC !important;
}

.loginRight label {
  font-size: 15px;
}

.loginRight button {
  width: 221px;
  height: 44px;
  font-weight: 100;
  font-size: 15px;
  margin-left: 45px;
}

.loginRight .rememberme span {
  padding-left: 20px;
  color: #FAFCFD;
}

.loginRight .forgot a {
  text-decoration: none;
  color: #B8C1CC !important;
}

.loginRight .forgot a:hover {
  text-decoration: underline;
}

.loginRight .donthave {
  padding-left: 46px;
  font-weight: 100;
}

.loginRight .donthave a {
  text-decoration: none;
  font-weight: bolder;
}

.forgotpass h4 {
  font-size: 30px;

}

.forgotpass .h6 {
  line-height: 2em;
}

.forgotpass .h6, .forgotpass label {
  color: #E7ECF2 !important;
  font-size: 16px;
  font-weight: 100;
}

.forgotpass input, .forgotpass button {
  width: 302px;
  height: 44px;
}

.forgotpass button {
  color: #E7ECF2;
  font-weight: 100;
}

.forgotpass p a {
  font-size: 14px;
  color: #B8C1CC !important;
  font-weight: 100;
}

.forgotpassLeft img {
  width: 336px;
  height: 117px;
}

.signupLeft img {
  width: 336px;
  height: 117px;
}

.signupRight h5 {
  font-size: 30px;
  font-weight: 300;
}

.signupRight label {
  color: #E7ECF2 !important;
  font-size: 15px;
  font-weight: normal !important;
  font-weight: 300;
}

.signupRight .cancel {
    text-decoration: none;
    border: solid 1px #6a6464;
    width: 150px;
    /* height: 50px; */
    display: block;
    border-radius: 50px;
    padding-top: 6px;
    padding-bottom: 8px;
}

.signupRight input {
  border-radius: 50px;
}

#myChartBar, #myChart {
    height: 100% !important;
}

.btnCollapse {
    position: absolute;
    top: 65px;
    margin-left: -27px;
    background: #1b252f;
    padding: 5px 5px 10px 3px;
    border-radius: 0px 100px 100px 0px;
}

.btnCollapse button {
  background: transparent;
  border: 0px;
}

.rightLogo .logo {
  width: 160px;
}

.rightLogo .logoCollapse {
  width: 100%;
}

/*End of Create a Whisp QR*/

@media screen and (max-width: 1400px) and (min-width: 1300px){
.cw_button, .cf_bttn, .cqr_button {
    font-size: 10px !important;
    background-color: #36414C;
  }

  .msgreply, .msg2ndreply{
    width: 349px;
    margin-left: 38px;
 
  }

  .linechart_warpper{
    height: 330px !important;
  }
  
}
