body{
    font-family: 'Outfit', sans-serif;
    padding: 0;
    color: #fff;
}

.container{

background-color: #1b252f;
padding: 15px;
}

.row {
 display: flex;
 flex-wrap: wrap;

}

.col-sm,
.col {
    padding: 10px;
    background-color: brown;
    border: silver solid 2px;
    max-width: 100%;
    flex-grow: 1;
}

.col{
    margin-bottom: 12px;
}

